$primary-color-text: rgba(163, 10, 130, 0.2);
$primary-bg-text: rgba(230, 224, 218, 0.2);
$default-heading-padding: 10px;
$webkit-border-radius: 5px;
// variables
@import "navbar";
@mixin box-shadow($top, $left, $blur, $color) {
  box-shadow: $top $left $blur $color;
}

.section {
  margin-top: 88px;

  @include box-shadow(4px, 7px, 8px, green);
  padding: 14px;
  border: 2px solid;
  .section-about {
    border: 2px solid;
  }
}
footer {
  background-color: black;
  width: 100%;
  height: 88px;
  color: aliceblue;
  text-align: center;
  padding-top: 33px;
  background-attachment: fixed;
}

// nav {
//   background-color: aquamarine;
//   width: 100%;
//   height: 88px;
//   ul {
//     display: flex;
//     color: blue;
//     padding: 19px;
//     text-align: center;

//     justify-content: center;
//   }

//   li {
//     color: beige;
//     display: flex;
//     padding: 12px;
//     text-decoration: none;
//   }
//   a {
//     color: rgb(74, 11, 175);
//     text-decoration: none;
//     font-size: 21px;
//     font-weight: bold;
//   }
//   a:hover {
//     color: rgb(74, 11, 175);
//     width: 88px;
//     text-align: center;
//     text-decoration: none;
//     color: blue;
//     border: 2px solid white;
//     border-radius: 15px;
//     font-size: 25px;
//     background-color: aliceblue;
//     font-weight: bold;
//   }
//   a:visited {
//     color: rgb(44, 6, 182);
//   }
// }
// .commonClass{
// color: aquamarine;
// }
%commonClass {
  color: aquamarine;
}

h1 {
  margin: 11px;
  // @extend .commonClass;
  @extend %commonClass;
  color: $primary-color-text;
  text-align: center;
}
